[Desktop Entry]
Version=1.0
Type=Application
Name=Nomm
Comment=Modern Linux-First Mod Manager
Exec=nomm %u
Icon=com.nomm.Nomm
Terminal=false
Categories=Game;Utility;
StartupWMClass=nomm
MimeType=x-scheme-handler/nxm;